<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: greenyellow; background-color: #8a2be2; border:8px solid black;"><center>My Introduction</center></h1>
    <h2 style="color:yellow; background-color: green; border:5px ridge black;">Hello,My name is Veenu.</h2>
    <h3 style="color: orangered; background-color: sandybrown; border:5px dashed black;">I hail from Ambala City.</h3>
    <h3 style="color: firebrick; background-color: orange; border:5px inset black;">I have completed my senior secondary education from Police DAV Public School,Ambala.</h3>
    <h3 style="color: darkmagenta; background-color: lightpink; border:5px ridge black;">I love to spend my spare time by doing painting as well as sketching.</h3>
    <h3 style="color: brown; background-color: lightcoral; border:5px dotted black;">As I am a hodophile person, I love to travel new places.</h3>
    <h3 style="color: purple;; background-color: lightpink; border:5px ridge black;">I also love reading books related to positive thoughts.</h3>
    <h3 style="color: green; background-color: greenyellow; border:5px dashed black;">All in all, I can say that I am an introvert person.</h3>
    
</body>
</html>