<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link href="{%static 'css/style1.css'%}" rel="stylesheet"/>
</head>
<body>
    <h1><center><font size="7" face="Stencil">RESUME</font></center></h1>
    <h2><font face="Britannic Bold">CAREER OBJECTIVE</font></h2>
    <h3>To associate myself with a growing and progressive organization with committed and dedicated people,thereby accomplishing the organizations as well as individual goals through competent and authentic work. Willing to work as a key player in challenging and creative environment.</h3>
    <h2><font face="Britannic Bold">ACADEMIC QUALIFICATIONS</font></h2>
    <h3>10th from Police DAV Public School,Ambala</h3>
    <h3>12th from Police DAV Public School,Ambala</h3>
    <h2><font face="Britannic Bold">TECHNICAL QUALIFICATIONS</font></h2>
    <h3>Diploma in Full Stack Developer</h3>
    <h2><font face="Britannic Bold">SKILLS ACQUIRED</font></h2>
    <h3><u>Operating Systems worked with</u></h3>
    <h3><b>Window,2008,2010,2013</b></h3>
    <h3><u>Packages worked with</u></h3>
    <h3><b>MS-Office</b></h3>
    <h2><font face="Britannic Bold">STRENGTHS</font></h2>
    <h3>Sincere,Hardworking,Punctual</h3>
    <h3>Responsible and Honest</h3>
    <h2><font face="Britannic Bold">WORKING EXPERIENCE</font></h2>
    <h3>Fresher</h3>
    <h2><font face="Britannic Bold">PERSONAL DETAILS</font></h2>
    <h3>Name: Veenu</h3>
    <h3>D.O.B: 1st August 2003</h3>
    <h3>Father's Name: Prahlad</h3>
    <h3>Address: Ambala City(Pin: 134003)</h3>
    <h3>Nationality: Indian</h3>
    <h3>Marital Status: Unmarried</h3>
    <h3>Hobbies: Painting, Sketching, Reading</h3>
    <h3>Languages Known: Hindi and English</h3>
    <h2><font face="Britannic Bold">DECLARATION</font></h2>
    <h3>I hereby declare that the information furnished above is true to the best of my knowledge and belief.</h3>
    <h4>DATE: 24 July 2024</h3>
    <h4>PLACE: Ambala City</h3>
</body>
</html>